/* ! Default Do not touch */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundMain: rgb(23, 107, 135);
    --backgroundSelect: rgb(162, 196, 207);
    --shadow: 2px 4px 1px rgb(123, 210, 236);
}

/* ! */

/* ? Index */

#screenMain {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleHome {
    /* Style box */
    background-color: var(--backgroundMain);
    width: 100%;
    height: 40%;
    /* ...... */

    /* center box */
    display: grid;
    place-items: center;
    /* ..... */
    & h1 {
        /* custom h1 */
        text-transform: uppercase;
        color: #fff;
        font-size: 5em;
    }
}

#btnStartHome {
    width: 25%;
    height: 50px;
    margin-top: 25px;
    background-color: var(--backgroundMain);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    /*!*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    /*!*/

    &:hover {
        /*Style hover the btnStartHome*/
        box-shadow: var(--shadow);
    }

    & a {
        /*Style <a>*/
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
        font-size: 1.5em;
    }
}

/* ! Index */

/* ? backlog */

header {
    /*style header board*/
    height: 80px;
    text-align: center;
    background-color: var(--backgroundMain);
    display: grid;
    place-items: center;

    & h1 {
        /*Style h1 header*/
        color: #fff;
        font-size: 3em;
        text-transform: uppercase;
    }
}

#board {
    /*block notes*/
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 1%;
    place-content: center;
}

.backBlog {
    /*Notes */
    width: 100%;
    display: grid;
    grid-template-rows: 60px repeat(auto-fill, 90px);
    grid-template-columns: 100%;
    background-color: var(--backgroundMain);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.titleBlog {
    /* title block notes*/
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
}

.notes {
    /* note block notes*/
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 60px;
    background-color: rgb(255, 255, 255);
    margin: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    padding: 10px;

    & p {
        /* Style <p> note*/
        margin: auto 20px;
        text-transform: capitalize;
    }
}

.imgEdit {
    /* img edit note*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        margin: auto;
        width: 50%;
        height: 50%;
    }
}

.addNotes {
    /*img add note*/
    height: 60px;
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: auto;
    place-content: start;
    background-color: var(--backgroundSelect);
    margin: 10px 20px 60px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    & img {
        /*img add*/
        padding: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

/* ? Modal box */

#modalBox {
    width: 60%;
    height: 450px;
    margin: auto;
    display: none;
    grid-template-rows: 25% auto 20%;
    grid-template-columns: 1fr;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 17%;
    left: 20%;
}

#titleModalBox {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    & input {
        background-color: var(--backgroundMain);
        width: 95%;
        height: 70%;
        padding: 20px;
        border-radius: 20px;
        border: none;
        color: #fff;

        &::placeholder {
            color: #fff;
        }

        &:hover {
            border: none;
        }

        &:focus {
            outline: none;
        }
    }
}

#descriptionModalBox {
    width: 95%;
    height: 200px;
    display: grid;
    grid-template-rows: 20px auto;
    grid-template-columns: 100%;
    row-gap: 5px;
    margin: auto;
    background-color: var(--backgroundMain);
    border-radius: 20px;
    padding: 20px;
}

#descriptionTitle {
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
}

#descriptionText {
    padding: 10px 0;
}

#descriptionText textarea {
    padding:  20px 0;
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 20px;
    text-transform: capitalize;
    color: #fff;

    &::placeholder {
        color: #fff;
        font-size: 1em;
       
    }

    &:hover {
        border: none;
    }

    &:focus {
        outline: none;
    }
}

#btnModalBox {
    display: flex;
    padding: 20px;
    & button {
        margin: 0 10px;
        width: 20%;
        background-color: transparent;
        border: none;
        border-radius: 10px;
        color: #000;
        font-size: 1.1em;
        cursor: pointer;

        &:hover {
            box-shadow: var(--shadow);
        }
    }
}

#btnColorBoxModal {
    background-color: var(--backgroundMain) !important;
    color: #fff !important;
}
/* ! Modal box */
/* ! backlog */
